/* -*- css-indent-offset: 2 -*- */
/*
Josh's Custom CSS Reset
https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}
html, body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  /* display: block; */
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Styles */

body {
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  font-size: 18px;
  color: #333;
  background: #F7F7FA;
}

h1, h2, h3, h4 {
  margin: 1.414rem 0 .5rem;
}

.h1, h1, h2 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 48px;
  line-height: 58px;
  margin-top: 80px;
  margin-bottom: 56px;
}

section {
  padding-bottom: 2rem;
}

big {
  font-size: 2rem;
}

nav {
  padding: 1rem 2rem;
}

footer {
  padding: 2rem;
}

.flex { display: flex; flex-wrap: wrap; }
.justify-between { justify-content: space-between; }
.grow { flex-grow: 1; }

.logo {
  display: inline-block;
}

.button {
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  display: inline-block;
  margin: 10px;
  border-radius: 8px;
  line-height: 24px;
  font-weight: 700;
  font-size: 16px;
  width: 280px;
}

.container {
  max-width: 780px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.b-viber { background-color: #7C509A; }
.b-telegram { background-color: #27A6E5; }

.c-white { color: white; }
/* .c-red { color: red; } */

.bold { font-weight: bold; }


.m1 { margin: 1rem; }
.ml-20 { margin-left: 20px; }
.mt-40 { margin-top: 40px; }
.mt-80 { margin-top: 80px; }
.mt-200 { margin-top: 200px; }

.mb-40 { margin-bottom: 40px; }

.link {
  margin: 0 20px;
  color: white;
  text-decoration: none;
}

.header {
  line-height: 70px;
  font-weight: bold;
  font-size: 32px;
}

.banner {
  border: 0.1px solid black;
  background: url("background.svg") center no-repeat;
  background-size: cover;
}

ol {
  display: grid;
  grid-gap: 20px;
  padding: 0;
}

.list-1 {
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 680px) {
  .list-1 {
    grid-template-columns: 1fr;
  }
}

ul {
  padding-left: 24px;
  margin-top: 8px;
  list-style-type: disc;
}

.card {
  background: white;
  border-radius: 16px;
  padding: 32px;
  list-style-type: none;
}

.bullet {
  background-color: #F2C94C;
  border-radius: 50%;
  width: 40px;
  display: flex;
  justify-content: center;
  font-weight: bold;
  line-height: 40px;
  margin-bottom: 8px;
}

.bullet--blue {
  background-color: #39B6F4;
  color: white;
}

.brand {
  display: flex;
  align-items: center;
}